
<!DOCTYPE html>
<html>

{% load static %}


<head>
  <meta charset="utf-8">
  <title>Pendaftaran MA NS</title>
  <!-- Mobile Specific Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <!-- Font-->
  <link href="{% static 'css/opensans-font.css' %}" rel="stylesheet" />
  <link href="{% static 'css/roboto-font.css' %}" rel="stylesheet" /> 
  <link rel="stylesheet" type="text/css" href="{% static 'fonts/material-design-iconic-font/css/material-design-iconic-font.min.css' %}">

  <!-- datepicker -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.min.css' %} ">

  <!-- Main Style Css -->
  <link rel="stylesheet" href="{% static 'css/form-style.css' %}" />
  


</head>
<body>
  <div class="page-content" style="background-image: url({% static 'assets/img/header-bg.jpg' %}" )">
    <div class="wizard-v4-content">
      <div class="wizard-form">
        <div class="wizard-header">
          <h3 class="heading">Formulir Online Pendaftaran Peserta Didik Baru</h3>
          <p>Silahkan Isi semua formulir sebelum menuju langkah selanjutnya</p>
        </div>
        <form class="form-register" action="#" method="post">
          <div id="form-total">
            <!-- SECTION 1 -->
            <h2>
              <span class="step-icon"><i class="zmdi zmdi-account"></i></span>
              <span class="step-text">Data Pribadi</span>
            </h2>
            <section>
              <div class="inner">
                <h3>Data Pribadi:</h3>
                <p>Isi Data Pribadi Anda Dengan Lengkap Dan Benar. Tanda Bintang *) Wajib Diisi</p>

                <div class="form-row">
                  <div class="form-holder form-holder-2">
                    <label class="form-row-inner">
                      <input type="text" class="form-control" id="nama" name="nama" required>
                      <span class="label">Nama Lengkap *</span>
                      <span class="border"></span>
                    </label>
                  </div>
                </div>

                <div class="form-row">
                  <div class="form-holder form-holder-2">
                    <label class="form-row-inner">
                      <input type="text" class="form-control" id="nisn" name="nisn" required>
                      <span class="label">NISN</span>
                      <span class="border"></span>
                    </label>
                  </div>
                </div>

                <div class="form-row">
                  <div class="form-holder form-holder-2">
                    <label class="form-row-inner">
                      <input type="text" class="form-control" id="nik" name="nik" required>
                      <span class="label">NIK *</span>
                      <span class="border"></span>
                    </label>
                  </div>
                </div>

                <div class="form-row">
                  <div class="form-holder form-holder-2">
                    <label class="form-row-inner">
                      <input type="text" class="form-control" id="tempatlahir" name="tempatlahir" required>
                      <span class="label">Tempat Lahir *</span>
                      <span class="border"></span>
                    </label>
                  </div>
                </div>

                <div class="form-row">
                  <div class="form-holder form-holder-2">
                    <label class="form-row-inner">
                      <input type="text" class="form-control" id="tanggallahir" name="tanggallahir" required>
                      <span class="label">Tanggal Lahir *</span>
                      <span class="border"></span>
                    </label>
                  </div>
                </div>

                <div class="form-row">
                  <div class="form-holder form-holder-2">
                    <label class="form-row-inner">
                      <input type="text" class="form-control" id="kelamin" name="kelamin" required>
                      <span class="label">Jenis Kelamin *</span>
                      <span class="border"></span>
                    </label>
                  </div>
                </div>

                <div class="form-row">
                  <div class="form-holder form-holder-2">
                    <label class="form-row-inner">
                      <input type="text" class="form-control" id="hobi" name="hobi" required>
                      <span class="label">Hobi *</span>
                      <span class="border"></span>
                    </label>
                  </div>
                </div>

                <div class="form-row">
                  <div class="form-holder form-holder-2">
                    <label class="form-row-inner">
                      <input type="text" class="form-control" id="citacita" name="citacita" required>
                      <span class="label">Cita-Cita *</span>
                      <span class="border"></span>
                    </label>
                  </div>
                </div>

                <div class="form-row">
                  <div class="form-holder form-holder-2">
                    <label class="form-row-inner">
                      <input type="text" class="form-control" id="anakke" name="anakke" required>
                      <span class="label">Anak Ke- *</span>
                      <span class="border"></span>
                    </label>
                  </div>
                </div>

                <div class="form-row">
                  <div class="form-holder form-holder-2">
                    <label class="form-row-inner">
                      <input type="text" class="form-control" id="jumlahsaudara" name="jumlahsaudara" required>
                      <span class="label">Jumlah Saudara *</span>
                      <span class="border"></span>
                    </label>
                  </div>
                </div>

                <div class="form-row">
                  <div class="form-holder form-holder-2">
                    <label class="form-row-inner">
                      <input type="text" class="form-control" id="sekolahasal" name="sekolahasal" required>
                      <span class="label">Madrasah / Sekolah Asal *</span>
                      <span class="border"></span>
                    </label>
                  </div>
                </div>

                <div class="form-row">
                  <div class="form-holder form-holder-2">
                    <label class="form-row-inner">
                      <input type="text" class="form-control" id="hp" name="hp" required>
                      <span class="label">No HP / WA *</span>
                      <span class="border"></span>
                    </label>
                  </div>
                </div>

                <div class="form-row">
                  <div class="form-holder form-holder-2">
                    <label class="form-row-inner">
                      <input type="text" class="form-control" id="email" name="email" required>
                      <span class="label">Email</span>
                      <span class="border"></span>
                    </label>
                  </div>
                </div>



              </div>




            </section>
            <!-- SECTION 2 -->
            <h2>
              <span class="step-icon"><i class="zmdi zmdi-lock"></i></span>
              <span class="step-text">Madrasah / Sekolah</span>
            </h2>
            <section>
              <div class="inner">
                <h3>Data Madrasah / Sekolah Sebelumnya</h3>
                <p>Isi Dengan Data Madrasah / Sekolah Sebelumnya Dengan Lengkap Dan Benar. Tanda Bintang *) Wajib Diisi</p>

                

                <div class="form-row">
                  <div class="form-holder form-holder-2">
                    <label class="form-row-inner">
                      <input type="text" name="jenislembaga" id="jenislembaga" class="form-control" required>
                      <span class="label">Jenis Lembaga *</span>
                      <span class="border"></span>
                    </label>
                  </div>
                </div>


                <div class="form-row">
                  <div class="form-holder form-holder-2">
                    <label class="form-row-inner">
                      <input type="text" name="statuslembaga" id="statuslembaga" class="form-control" required>
                      <span class="label">Status Lembaga *</span>
                      <span class="border"></span>
                    </label>
                  </div>
                </div>              


                <div class="form-row">
                  <div class="form-holder form-holder-2">
                    <label class="form-row-inner">
                      <input type="text" name="npsn" id="npsn" class="form-control" required onfocus="this.placeholder = 'NPSN terdapat pada ijazah. Kosongkan jika tidak tahu'"
                      onblur="this.placeholder = ''">
                      <span class="label">NPSN</span>
                      <span class="border"></span>
                    </label>
                  </div>
                </div>

                <div class="form-row">
                  <div class="form-holder form-holder-2">
                    <label class="form-row-inner">
                      <input type="text" name="noijazah" id="noijazah" class="form-control" required onfocus="this.placeholder = 'Terdapat pada paling bawah ijazah. Kosongkan jika belum mempunyai Ijazah'"
                      onblur="this.placeholder = ''">
                      <span class="label">Nomor Seri Ijazah</span>
                      <span class="border"></span>
                    </label>
                  </div>
                </div>








              </div>
            </section>
            <!-- SECTION 3 -->
            <h2>
              <span class="step-icon"><i class="zmdi zmdi-receipt"></i></span>
              <span class="step-text">Tempat Tinggal</span>

            </h2>
            <section>
              <div class="inner">
                <h3>Data Tempat Tinggal</h3>
                <p>Isi Data Tempat Dimana Anda Tinggal Dengan Lengkap Dan Benar. Tanda Bintang *) Wajib Diisi</p>

                <div class="form-row">
                  <div class="form-holder form-holder-2">
                    <label for="tempattinggal" class="special-label">Jenis tempat tinggal: *</label>
                    <select name="tempattinggal" id="tempattinggal" >
                      <option value="0" disabled selected>Pilih dimana anda tinggal sekarang</option>
                      <option value="1">Tinggal dengan Orang Tua /Wali</option>
                      <option value="2">Ikut Saudara/Kerabat</option>
                      <option value="3">Asrama Madrasah</option>
                      <option value="4">Kontrak/Kost</option>
                      <option value="5">Asrama Pesantren</option>
                      <option value="6">Panti Asuhan</option>
                      <option value="7">Rumah Singgah</option>
                      <option value="8">Lainnya</option>
                    </select>
                  </div>
                </div>



                <div class="form-row">
                  <div class="form-holder form-holder-2">
                    <label class="form-row-inner">
                      <input type="text" name="alamat" id="alamat" class="form-control" required onfocus="this.placeholder = 'Nama jalan / Kp / RT ? RW. Misal . Jl. Raya Cipatik no 16'"
                      onblur="this.placeholder = ''">
                      <span class="label">Alamat *</span>
                      <span class="border"></span>
                    </label>
                  </div>
                </div>


                <div class="form-row">
                  <div class="form-holder form-holder-2">
                    <label class="form-row-inner">
                      <input type="text" name="provinsi" id="provinsi" class="form-control" required onfocus="this.placeholder = 'Provinsi, misal : Jawa Barat'"
                      onblur="this.placeholder = ''">
                      <span class="label">Provinsi *</span>
                      <span class="border"></span>
                    </label>
                  </div>
                </div>


                <div class="form-row">
                  <div class="form-holder form-holder-2">
                    <label class="form-row-inner">
                      <input type="text" name="kabupatenkota" id="kabupatenkota" class="form-control" required onfocus="this.placeholder = 'Kabupaten / Kota, misal : Bandung Barat'"
                      onblur="this.placeholder = ''">
                      <span class="label">Kabupaten / Kota *</span>
                      <span class="border"></span>
                    </label>
                  </div>
                </div>


                <div class="form-row">
                  <div class="form-holder form-holder-2">
                    <label class="form-row-inner">
                      <input type="text" name="desa" id="desa" class="form-control" required onfocus="this.placeholder = 'Desa, misal : Cipatik'"
                      onblur="this.placeholder = ''">
                      <span class="label">Desa *</span>
                      <span class="border"></span>
                    </label>
                  </div>
                </div>

                <div class="form-row">
                  <div class="form-holder form-holder-2">
                    <label class="form-row-inner">
                      <input type="text" name="kodepos" id="kodepos" class="form-control" required onfocus="this.placeholder = 'Kode Pos lihat di kartu keluarga paling atas, misal : 40767'"
                      onblur="this.placeholder = ''">
                      <span class="label">Kode Pos</span>
                      <span class="border"></span>
                    </label>
                  </div>
                </div>

                <div class="form-row">
                  <div class="form-holder form-holder-2">
                    <label for="jaraktempattinggal" class="special-label">Jarak tempat tinggal: *</label>
                    <select name="jaraktempattinggal" id="jaraktempattinggal" >
                      <option value="0" disabled selected>Jarak tempat tinggal dengan MA Nuurus Salaam</option>
                      <option value="1">Kurang dari 5 KM </option>
                      <option value="2">Antara 5 - 10 KM </option>
                      <option value="3">Antara 11 - 20 KM</option>
                      <option value="4">Antara 21 - 30 KM</option>
                      <option value="5">Lebih dari 30 KM</option>
                    </select>
                  </div>
                </div>


                <div class="form-row">
                  <div class="form-holder form-holder-2">
                    <label for="transportasi" class="special-label">Transportasi Yang Dipakai: *</label>
                    <select name="transportasi" id="transportasi" >
                      <option value="0" disabled selected>Transportasi Yang Dipakai:</option>
                      <option value="1">Jalan Kaki </option>
                      <option value="2">Sepeda</option>
                      <option value="3">Sepeda Motor</option>
                      <option value="4">Mobil Pribadi</option>
                      <option value="5">Antar Jemput Sekolah</option>
                      <option value="6">Angkutan Umum</option>
                      <option value="7">Perahu/Sampan</option>
                      <option value="8">Lainnya</option>
                    </select>
                  </div>
                </div>

                
              </section>





              <!-- SECTION 4 -->
              <h2>
                <span class="step-icon"><i class="zmdi zmdi-money"></i></span>
                <span class="step-text">Data Orang Tua</span>
              </h2>
              <section>
                <div class="inner">
                  <h3>Data Orang Tua</h3>
                  <p>Isi Data Orangtua Dengan Lengkap Dan Benar. Tanda Bintang *) Wajib Diisi</p>

                  <div class="form-row">
                    <div class="form-holder form-holder-2">
                      <label class="form-row-inner">
                        <input type="text" name="nokk" id="nokk" class="form-control" required onfocus="this.placeholder = 'Ada di bagian paling atas Kartu Keluarga'"
                        onblur="this.placeholder = ''">
                        <span class="label">Nomor Kartu Keluarga *</span>
                        <span class="border"></span>
                      </label>
                    </div>
                  </div>

                  <div class="form-row">
                    <div class="form-holder form-holder-2">
                      <label class="form-row-inner">
                        <input type="text" name="kepalakeluarga" id="kepalakeluarga" class="form-control" required onfocus="this.placeholder = 'Lihat di kartu keluarga, siapa nama kepala keluarga anda'"
                        onblur="this.placeholder = ''">
                        <span class="label">Nama Kepala Keluarga *</span>
                        <span class="border"></span>
                      </label>
                    </div>
                  </div>

                  <h3>Ayah</h3>
                  <div class="form-row">
                    <div class="form-holder form-holder-2">
                      <label class="form-row-inner">
                        <input type="text" name="ayah" id="ayah" class="form-control" required onfocus="this.placeholder = 'Nama ayah kandung ditulis sesuai dengan yang tertera di ijazah / kartu keluarga'"
                        onblur="this.placeholder = ''">
                        <span class="label">Nama Lengkap Ayah Kandung *</span>
                        <span class="border"></span>
                      </label>
                    </div>
                  </div>



                  <div class="form-row">
                    <div class="form-holder form-holder-2">
                    <label for="tanggallahirayah" class="special-label">Tanggal Lahir Ayah *</label>
                    <div class="col-10">
                      <input class="form-control" type="date" value="2011-08-19" id="tanggallahirayah" name="tanggallahirayah">
                    </div>
                  </div>
                </div>


                <div class="form-row">
                  <div class="form-holder form-holder-2">
                    <label for="statusayah" class="special-label">Status Ayah Kandung: *</label>
                    <select name="statusayah" id="statusayah" >
                      <option value="0" disabled selected>Status Ayah Kandung</option>
                      <option value="1">Masih Hidup </option>
                      <option value="2">Sudah Meninggal</option>
                      <option value="3">Tidak Diketahui</option>
                    </select>
                  </div>
                </div>

                  <div class="form-row">
                    <div class="form-holder form-holder-2">
                      <label class="form-row-inner">
                        <input type="text" name="nikayah" id="nikayah" class="form-control" required onfocus="this.placeholder = 'Lihat pada KTP / Kartu Keluarga. Kosongkan jika tidak ada'"
                        onblur="this.placeholder = ''">
                        <span class="label">NIK / Nomor KTP Ayah Kandung</span>
                        <span class="border"></span>
                      </label>
                    </div>
                  </div>


                <div class="form-row">
                  <div class="form-holder form-holder-2">
                    <label for="pendidikanayah" class="special-label">Pendidikan Ayah:</label>
                    <select name="pendidikanayah" id="pendidikanayah" >
                      <option value="0" disabled selected>Pendidikan Ayah</option>
                      <option value="1">MI / SD / Sederajat </option>
                      <option value="2">MTs / SMP</option>
                      <option value="3">SMK / SMA / MA</option>
                      <option value="4">D1</option>
                      <option value="5">D2</option>
                      <option value="6">D3</option>
                      <option value="7">D4 / S1</option>
                      <option value="8">S2</option>
                      <option value="9">S3</option>
                    </select>
                  </div>
                </div>

                <div class="form-row">
                  <div class="form-holder form-holder-2">
                    <label for="pekerjaanayah" class="special-label">Pekerjaan Ayah: </label>
                    <select name="pekerjaanayah" id="pekerjaanayah" >
                      <option value="0" disabled selected>Pekerjaan Ayah</option>
                      <option value="1">Tidak Bekerja </option>
                      <option value="2">Pensiunan</option>
                      <option value="3">PNS</option>
                      <option value="4">TNI/Polisi</option>
                      <option value="5">Guru/Dosen</option>
                      <option value="6">Pegawai Swasta</option>
                      <option value="7">Wiraswasta/Wirausaha</option>
                      <option value="8">Pengacara/Hakim/Jaksa/Notaris</option>
                      <option value="9">Seniman/Artis</option>
                      <option value="10">Dokter/Perawat</option>
                      <option value="11">Pilot/Pramugara</option>
                      <option value="12">Pedagang</option>
                      <option value="13">Petani/Peternak</option>
                      <option value="14">Nelayan</option>
                      <option value="15">Buruh (Tani/Pabrik/Bangunan)</option>
                      <option value="16">Sopir/Masinis/Kondektur</option>
                      <option value="17">Poiltikus</option>
                      <option value="18">Lainnya</option>
                    </select>
                  </div>
                </div>

                  <h3>Ibu</h3>
                  <div class="form-row">
                    <div class="form-holder form-holder-2">
                      <label class="form-row-inner">
                        <input type="text" name="ibu" id="ibu" class="form-control" required onfocus="this.placeholder = 'Nama ibu kandung ditulis sesuai dengan yang tertera di ijazah / kartu keluarga'"
                        onblur="this.placeholder = ''">
                        <span class="label">Nama Lengkap Ibu Kandung *</span>
                        <span class="border"></span>
                      </label>
                    </div>
                  </div>



                  <div class="form-row">
                    <div class="form-holder form-holder-2">
                    <label for="tanggallahiribu" class="special-label">Tanggal Lahir Ibu *</label>
                    <div class="col-10">
                      <input class="form-control" type="date" value="2011-08-19" id="tanggallahiribu" name="tanggallahiribu">
                    </div>
                  </div>
                </div>


                <div class="form-row">
                  <div class="form-holder form-holder-2">
                    <label for="statusibu" class="special-label">Status Ibu Kandung: *</label>
                    <select name="statusibu" id="statusibu" >
                      <option value="0" disabled selected>Status Ibu Kandung</option>
                      <option value="1">Masih Hidup </option>
                      <option value="2">Sudah Meninggal</option>
                      <option value="3">Tidak Diketahui</option>
                    </select>
                  </div>
                </div>

                  <div class="form-row">
                    <div class="form-holder form-holder-2">
                      <label class="form-row-inner">
                        <input type="text" name="nikibu" id="nikibu" class="form-control" required onfocus="this.placeholder = 'Lihat pada KTP / Kartu Keluarga. Kosongkan jika tidak ada'"
                        onblur="this.placeholder = ''">
                        <span class="label">NIK / Nomor KTP Ibu Kandung</span>
                        <span class="border"></span>
                      </label>
                    </div>
                  </div>


                <div class="form-row">
                  <div class="form-holder form-holder-2">
                    <label for="pendidikanibu" class="special-label">Pendidikan Ibu:</label>
                    <select name="pendidikanibu" id="pendidikanibu" >
                      <option value="0" disabled selected>Pendidikan Ibu</option>
                      <option value="1">MI / SD / Sederajat </option>
                      <option value="2">MTs / SMP</option>
                      <option value="3">SMK / SMA / MA</option>
                      <option value="4">D1</option>
                      <option value="5">D2</option>
                      <option value="6">D3</option>
                      <option value="7">D4 / S1</option>
                      <option value="8">S2</option>
                      <option value="9">S3</option>
                    </select>
                  </div>
                </div>

                <div class="form-row">
                  <div class="form-holder form-holder-2">
                    <label for="pekerjaanibu" class="special-label">Pekerjaan Ibu: </label>
                    <select name="pekerjaanibu" id="pekerjaanibu" >
                      <option value="0" disabled selected>Pekerjaan Ibu</option>
                      <option value="1">Tidak Bekerja / Ibu Rumah Tangga</option>
                      <option value="2">Pensiunan</option>
                      <option value="3">PNS</option>
                      <option value="4">TNI/Polisi</option>
                      <option value="5">Guru/Dosen</option>
                      <option value="6">Pegawai Swasta</option>
                      <option value="7">Wiraswasta/Wirausaha</option>
                      <option value="8">Pengacara/Hakim/Jaksa/Notaris</option>
                      <option value="9">Seniman/Artis</option>
                      <option value="10">Dokter/Perawat</option>
                      <option value="11">Pilot/Pramugari</option>
                      <option value="12">Pedagang</option>
                      <option value="13">Petani/Peternak</option>
                      <option value="14">Nelayan</option>
                      <option value="15">Buruh (Tani/Pabrik/Bangunan)</option>
                      <option value="16">Sopir/Masinis/Kondektur</option>
                      <option value="17">Poiltikus</option>
                      <option value="18">Lainnya</option>
                    </select>
                  </div>
                </div>



                  <h3>Jika Siswa Tinggal Dengan Wali</h3>
                  <p>Kosongkan Jika Tidak Tinggal Dengan Wali</p>
                  <div class="form-row">
                    <div class="form-holder form-holder-2">
                      <label class="form-row-inner">
                        <input type="text" name="wali" id="wali" class="form-control" required onfocus="this.placeholder = 'Nama lengkap wali'"
                        onblur="this.placeholder = ''">
                        <span class="label">Nama Lengkap Wali</span>
                        <span class="border"></span>
                      </label>
                    </div>
                  </div>



                  <div class="form-row">
                    <div class="form-holder form-holder-2">
                    <label for="tanggallahirwali" class="special-label">Tanggal Lahir Wali</label>
                    <div class="col-10">
                      <input class="form-control" type="date" value="2011-08-19" id="tanggallahirwali" name="tanggallahirwali">
                    </div>
                  </div>
                </div>


                <div class="form-row">
                  <div class="form-holder form-holder-2">
                    <label for="statusibu" class="special-label">Status Ibu Wali :</label>
                    <select name="statuswali" id="statuswali" >
                      <option value="0" disabled selected>Status Wali</option>
                      <option value="1">Masih Hidup </option>
                      <option value="2">Sudah Meninggal</option>
                      <option value="3">Tidak Diketahui</option>
                    </select>
                  </div>
                </div>

                  <div class="form-row">
                    <div class="form-holder form-holder-2">
                      <label class="form-row-inner">
                        <input type="text" name="nikwali" id="nikwali" class="form-control" required onfocus="this.placeholder = 'Lihat pada KTP / Kartu Keluarga. Kosongkan jika tidak ada'"
                        onblur="this.placeholder = ''">
                        <span class="label">NIK / Nomor KTP Wali</span>
                        <span class="border"></span>
                      </label>
                    </div>
                  </div>


                <div class="form-row">
                  <div class="form-holder form-holder-2">
                    <label for="pendidikanwali" class="special-label">Pendidikan Wali</label>
                    <select name="pendidikanwali" id="pendidikanwali" >
                      <option value="0" disabled selected>Pendidikan Wali</option>
                      <option value="1">MI / SD / Sederajat </option>
                      <option value="2">MTs / SMP</option>
                      <option value="3">SMK / SMA / MA</option>
                      <option value="4">D1</option>
                      <option value="5">D2</option>
                      <option value="6">D3</option>
                      <option value="7">D4 / S1</option>
                      <option value="8">S2</option>
                      <option value="9">S3</option>
                    </select>
                  </div>
                </div>

                <div class="form-row">
                  <div class="form-holder form-holder-2">
                    <label for="pekerjaanwali" class="special-label">Pekerjaan Wali: </label>
                    <select name="pekerjaanwali" id="pekerjaanwali" >
                      <option value="0" disabled selected>Pekerjaan Ibu</option>
                      <option value="1">Tidak Bekerja </option>
                      <option value="2">Pensiunan</option>
                      <option value="3">PNS</option>
                      <option value="4">TNI/Polisi</option>
                      <option value="5">Guru/Dosen</option>
                      <option value="6">Pegawai Swasta</option>
                      <option value="7">Wiraswasta/Wirausaha</option>
                      <option value="8">Pengacara/Hakim/Jaksa/Notaris</option>
                      <option value="9">Seniman/Artis</option>
                      <option value="10">Dokter/Perawat</option>
                      <option value="11">Pilot/Pramugara/Pramugari</option>
                      <option value="12">Pedagang</option>
                      <option value="13">Petani/Peternak</option>
                      <option value="14">Nelayan</option>
                      <option value="15">Buruh (Tani/Pabrik/Bangunan)</option>
                      <option value="16">Sopir/Masinis/Kondektur</option>
                      <option value="17">Poiltikus</option>
                      <option value="18">Lainnya</option>
                    </select>
                  </div>
                </div>


                  <h3>Penghasilan / Bantuan Dan Lain-lain</h3>
                  <p>Isi Data Penghasilan / Bantuan Dengan Lengkap Dan Benar</p>
                <div class="form-row">
                  <div class="form-holder form-holder-2">
                    <label for="penghasilan" class="special-label">Rata-Rata Penghasilan Orang Tua/Wali: Per Bulan *</label>
                    <select name="penghasilan" id="penghasilan" >
                      <option value="0" disabled selected>Pilih</option>
                      <option value="1">Kurang Dari Rp 500.000,- </option>
                      <option value="2">Rp 500.000 - 1.000.000</option>
                      <option value="3">Rp 1.000.000 - 2.000.000</option>
                      <option value="4">Rp 2.000.000 - 3.000.000</option>
                      <option value="5">Rp 3.000.000 - 5.000.000</option>
                      <option value="6">Lebih Dari Rp 5.000.000</option>
                    </select>
                  </div>
                </div>


                  <div class="form-row">
                    <div class="form-holder form-holder-2">
                      <label class="form-row-inner">
                        <input type="text" name="kks" id="kks" class="form-control" required onfocus="this.placeholder = 'Isi dengan nomor KKS. Kosongkan jika tidak punya'"
                        onblur="this.placeholder = ''">
                        <span class="label">Nomor Kartu Keluarga Sejahtera (KKS)</span>
                        <span class="border"></span>
                      </label>
                    </div>
                  </div>


                  <div class="form-row">
                    <div class="form-holder form-holder-2">
                      <label class="form-row-inner">
                        <input type="text" name="pkh" id="pkh" class="form-control" required onfocus="this.placeholder = 'Isi dengan nomor PKH. Kosongkan jika tidak punya'"
                        onblur="this.placeholder = ''">
                        <span class="label">Nomor Kartu Program Keluarga Harapan (PKH)</span>
                        <span class="border"></span>
                      </label>
                    </div>
                  </div>

                  <div class="form-row">
                    <div class="form-holder form-holder-2">
                      <label class="form-row-inner">
                        <input type="text" name="kip" id="kip" class="form-control" required onfocus="this.placeholder = 'Isi dengan nomor KIP. Kosongkan jika tidak punya'"
                        onblur="this.placeholder = ''">
                        <span class="label">Nomor Kartu Indonesia Pintar (KIP)</span>
                        <span class="border"></span>
                      </label>
                    </div>
                  </div>

                    <div class="form-row">
                    <div class="form-holder form-holder-2">
                      <label class="form-row-inner">
                        <input type="text" name="alamatotwali" id="alamatotwali" class="form-control" required onfocus="this.placeholder = 'Alamat Tempat Tinggal Orang Tua/Wali'"
                        onblur="this.placeholder = ''">
                        <span class="label">Alamat Tempat Tinggal Orang Tua/Wali * </span>
                        <span class="border"></span>
                      </label>
                    </div>
                  </div>

                  <div class="form-row">
                  <div class="form-holder form-holder-2">
                    <label for="sktm" class="special-label">Apakah ANda Mempunya Surat Keterangan Tidak Mampu (SKTM) *</label>
                    <select name="penghasilan" id="penghasilan" >
                      <option value="0" disabled selected>Jika Ya, harap lampirkan SKTM kepada pihak Madrasah</option>
                      <option value="1">Ya</option>
                      <option value="2">Tidak</option>
                    </select>
                  </div>
                </div>
                </section>


            <!-- SECTION 5 -->
            <h2>
              <span class="step-icon"><i class="zmdi zmdi-receipt"></i></span>
              <span class="step-text">Motivasi</span>

            </h2>
            <section>
              <div class="inner">
                <h3>Motivasi</h3>
                <p>Ini Adalah Sesi Akhir Dari Isian Formulir. Tanda Bintang *) Wajib Diisi</p>

                  <div class="form-row">
                    <div class="form-holder form-holder-2">
                      <label class="form-row-inner">
                        <input type="text" name="motivasi" id="motivasi" class="form-control" required onfocus="this.placeholder = 'Tulis alasan anda ingin bersekolah di MA Nuurus Salaam'"
                        onblur="this.placeholder = ''">
                        <span class="label">Motivasi Melanjutkan ke MA Nuurus Salaam *</span>
                        <span class="border"></span>
                      </label>
                    </div>
                  </div>

                  <h4>Jika Data Yang Di Isi Sudah Lengkap Dan Benar Silahkan Klik "SUBMIT", Jika Data Masih Ada Yang Perlu Diperbaiki, Klik "BACK STEP" </h4>





              </div>
            </form>
          </div>
        </div>
      </div>


      <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
      <script src="{% static 'js/jquery.steps.js' %}"></script>
      <script src="{% static 'js/jquery-ui.min.js' %}"></script>
      <script src="{% static 'js/main-form.js' %}"></script>
    </body>
    </html>