{% load static %}

<!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href=" /" style="background-color:#4e73df;">
        <!--
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-laugh-wink"></i> 

        </div>
        -->
        <img src="{% static 'assets/img/LogoMANuurusSalaam.png' %}" class="img-fluid"  width="50" height="50" alt="Responsive image">
        
        <div class="sidebar-brand-text mx-3">School Management</div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item ">
        <a class="nav-link " href="{% url 'perpustakaan:indexPerpustakaan' %}" data-toggle="collapse" data-target="#collapsePerpus" aria-expanded="true" aria-controls="collapsePerpus">
          <i class="fas fa-fw fa-book"></i>
          <span>Perpustakaan</span></a>
          <div id="collapsePerpus" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Management perpustakaan:</h6>
            <a class="collapse-item {% if nbar == 'transaksiPeminjaman' %}active{% endif %}" href="{% url 'perpustakaan:transaksiPeminjaman' %}" class="no-collapsable">Transaksi Peminjaman</a>
            <a class="collapse-item" href="{% url 'perpustakaan:katalogPeminjaman' %}">Katalog Buku</a>
            <a class="collapse-item" href="{% url 'perpustakaan:peminjamanBuku' %}">Peminjaman</a>
            <a class="collapse-item" href="{% url 'perpustakaan:tambahbuku' %}">Tambah Buku</a>
            <a class="collapse-item" href="{% url 'perpustakaan:daftarDenda' %}">Daftar Denda</a>
          </div>
        </div>
      </li>
      <li class="nav-item"  >
        <a class="nav-link" href="{% url 'kesiswaan:indexKesiswaan' %}" data-toggle="collapse" data-target="#collapseKesiswaan" aria-expanded="true" aria-controls="collapseKesiswaan">
          <i class="fas fa-fw fa-graduation-cap"></i>
          <span>Kesiswaan</span></a>
          <div id="collapseKesiswaan" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Management Kesiswaan:</h6>
            <a class="collapse-item" href="{% url 'kesiswaan:masterData' %}" class="no-collapsable">Master Data</a>
            <a class="collapse-item" href="{% url 'kesiswaan:pelanggaran' %}">Pelanggaran Siswa</a>
            <a class="collapse-item" href="{% url 'kesiswaan:kehadiran' %}">Kehadiran Siswa</a>
            <a class="collapse-item" href="{% url 'kesiswaan:daftarSiswa' %}">Daftar Siswa</a>
          
          </div>

      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'keuangan:indexKeuangan' %}" data-toggle="collapse" data-target="#collapseKeuangan" aria-expanded="true" aria-controls="collapseKeuangan">
          <i class="fas fa-fw fa-calculator"></i>
          <span>Keuangan</span></a>
          <div id="collapseKeuangan" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Management Keuangan:</h6>
            <a class="collapse-item" href="{% url 'keuangan:inputTransaksi' %}" class="no-collapsable">Input Transaksi</a>
            <a class="collapse-item" href="{% url 'keuangan:daftarTransaksi' %}">Daftar Transaksi</a>
          </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'psb:indexPSB' %}" data-toggle="collapse" data-target="#collapseHome" aria-expanded="true" aria-controls="collapseHome">
          <i class="fas fa-user-tie"></i>
          <span>Penerimaan Siswa</span></a>
          <div id="collapseHome" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Penerimaan Siswa:</h6>
            <a class="collapse-item" href="{% url 'home:list' %}" class="no-collapsable">Daftar Calon Siswa</a>
          </div>
      </li>

  
      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    <!-- End of Sidebar -->
