{% extends "admin.html" %}
{% load static %}
{% block content %}
<div class="container-fluid">

<!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Data Pelanggaran Siswa</h6>
    </div>
    <div class="card-body">
      <a class="btn btn-primary" href="{% url 'kesiswaan:tambahPelanggar' %}" style="float:right;"><i class="fas fa-pen"></i>Tambah Pelanggar</a>
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>No</th>
              <th>Nama</th>
              <th>NIS</th>
              <th>Skor Pelanggaran</th>
              <th>Tanggal</th>
              <th>Keterangan</th>
              <th>Aksi</th>
            </tr>
          </thead>
          <tbody>
            {% for siswa in datapelanggar %}
            <tr>
              <th scope="row">{{forloop.counter}}</th>
              <th scope="row">{{siswa.nama}}</th>
              <th scope="row">{{siswa.nislokal}}</th>
              <th scope="row">{{siswa.skorpelanggaran}}</th>
              <th scope="row">{{siswa.tanggalpelanggaran}}</th>
              <th scope="row">{{siswa.keterangan}}</th>

              <td>                
                <a class="btn btn-warning btn-circle" href="{% url 'kesiswaan:updatePelanggar' siswa.id %}" title="Update"><i class="fas fa-edit"></i></a>
                <a class="btn btn-danger btn-circle" href="{% url 'kesiswaan:deletePelanggar' siswa.id %}"  title="Delete"><i class="fas fa-trash"></i></a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>
{% endblock %}