{% extends "admin.html" %}
{% load static %}
{% block content %}
<div class="container-fluid">

  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">User</h1>

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Tambah Siswa</h6>
    </div>
    <div class="card-body">
      <a class="btn btn-primary" href="" style="float:right;"><i class="fas fa-pen"></i>Add User</a>
    </div>
  </div>

</div>
{% endblock %}