{% extends "admin.html" %}
{% load static %}
{% block content %}
{% load l10n %}

<div class="container-fluid">

  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">Daftar Denda</h1>

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Data Peminjam yang melebihi batas waktu</h6>
    </div>
    <div class="card-body">
      <a class="btn btn-primary" href="#" style="float:right;"><i class="fas fa-pen"></i>Add Transaksi</a>
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>No</th>
              <th>Kode Buku</th>
              <th>NIS</th>
              <th>Nama Peminjam</th>
              <th>Tanggal Pinjam</th>
              <th>Tanggal Kembali</th>
              <th>Denda</th>
              <th>Aksi</th>
            </tr>
          </thead>
          <tbody>
            {% for posting in datadenda %}
            <tr>
              <th scope="row">{{forloop.counter}}</th>
              <th scope="row">{{posting.buku.all.0.judulbuku}} - {{posting.buku.all.0.kodebuku}}</th>
              <th scope="row">{{posting.nislokal}}</th>
              <th scope="row">{{posting.nama}}</th>
              <th scope="row">{{posting.tanggalpinjam}}</th>
              <th scope="row">{{posting.tanggalkembali}}</th>
              <th scope="row">Rp {{posting.nominaldenda}}</th>



              <td>                
                <a class="btn btn-warning btn-circle" href="{% url 'perpustakaan:updatePinjam' posting.id %}" title="Update"><i class="fas fa-edit"></i></a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <h3 style="float:right;">Total Denda Rp:  {% localize on %} {{jumlahdenda}} {% endlocalize %}</h3>
      </div>
    </div>
  </div>



</div>


{% endblock %}