{% extends "admin.html" %}
{% load static %}
{% block content %}
<div class="container-fluid">

  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">Daftar Pemasukan Kas Keuangan</h1>



  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Data Infaq</h6>
    </div>
    <div class="card-body">
      <a class="btn btn-primary" href="{% url 'keuangan:inputTransaksi' %}" style="float:right;"><i class="fas fa-pen"></i>Tambah Transaksi</a>
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>No</th>
              <th>Kode Transaksi</th>
              <th>Tanggal</th>
              <th>Nominal</th>
              <th>Keterangan</th>
              <th>Aksi</th>
            </tr>
          </thead>
          <tbody>
            {% for posting in datauanginfaq %}
              <tr>
              <th scope="row">{{forloop.counter}}</th>
              <th scope="row">{{posting.kodetransaksi}}</th>
              <th scope="row">{{posting.tanggaltransaksi}}</th>
              <th scope="row" >{{posting.nominal}}</th>
              <th scope="row">{{posting.keterangan}}</th>
   
              <td>                
                <a class="btn btn-danger btn-circle" href="{% url 'keuangan:deleteTransaksi' posting.id %}" title="Delete"><i class="fas fa-trash"></i></a>
</td>

              </tr>
            {% endfor %}
          </tbody>
        </table>

        <h2 style="float:right;">Saldo Rp:  {{saldototal}} </h2>
      </div>
    </div>
  </div>









</div>
{% endblock %}